* {
  margin: 0%;
  padding: 0%;
}

body {
  background-color: #212529;
}

.fotopersonal {
  display: block;
  margin: auto;
  width: 200px;
  height: 200px;
}
h2 {
  color: white;
  text-align: center;
}

.texto {
  color: white;
}

.bg_custom_dark {
  background-color: black;
}

.redes {
  display: flex;
  justify-content: center;
}

.desAficiones,
.cHabilidades {
  color: white;
  text-align: center;
}

.cuadros {
  width: 600px;
  height: 400px;
}
.box3 {
  border-color: #ff5733 !important;
  color: white;
  text-align: center;
}

.box4 {
  border-color: #28b463 !important;
  color: white;
  text-align: center;
}

.bg4,
.bg3 {
  background-color: black;
}

.puntua,
.comparte1 {
  color: white;
}

.centrar {
  align-items: center;
}

.ec-stars-wrapper {
  font-size: 0;
  display: inline-block;
}
.ec-stars-wrapper a {
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  /*font-size: 1rem;*/
  color: white;
}

.comparte {
  width: 20px;
  height: 20px;
}

.recomienda {
  color: white;
}

.cc,
.pdp,
.cdc {
  color: white;
}

.white-color {
  color: white;
}
