* {
  margin: 0%;
  padding: 0%;
}

.fotopersonal {
  display: block;
  margin: auto;
  width: 200px;
  height: 200px;
}
h2 {
  color: white;
  text-align: center;
}

.texto {
  color: white;
}

.bg_custom_dark {
  background-color: black;
}

.redes {
  display: flex;
  justify-content: center;
}

.cuadros {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.box3 {
  width: 50%;
  height: 100%;
  border-color: #ff5733 !important;
}

.box4 {
  width: 50%;
  height: 100%;
  border-color: #28b463 !important;
}
